# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs
/imgui.ini

# Syncthing file versioning
/.stversions/

# No USD files allowed in the repo
# **/*.usd
# **/*.usda
# **/*.usdc
# **/*.usdz

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# Docker/Singularity
**/*.sif
docker/cluster/exports/
docker/.container.cfg

# IDE
**/.idea/
**/.vscode/
.agents
.codex

# Outputs
**/output/
**/outputs/
**/logs/
**/runs/
**/videos/
**/wandb/
**/.neptune/
**/checkpoints/
docker/artifacts/
*.tmp

# Training artifacts
**/events.out.tfevents.*
**/*.ckpt
**/*.pt
**/*.pth
**/*.onnx
**/*.onnx.data
**/*.mnn

# Doc Outputs
**/docs/_build/*
**/generated/*

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# RL-Games
**/recordings/*

# Pre-Trained Checkpoints
/.pretrained_checkpoints/

# Teleop Recorded Dataset
# /datasets/

# Docker history
.isaac-lab-docker-history

# TacSL sensor
**/tactile_record/*
**/gelsight_r15_data/*

mydocs
source/engineai_rl_lab/engineai_rl_lab/tasks/locomotion
scripts/amp
datasets/amp
source/engineai_rl_lab/engineai_rl_lab/assets/pm01_23dof_simplified
datasets/mytracking
scripts/test
